@font-face {
    font-family:'Queental-Regular' ;
    src: url('../fuentes/Queental-Regular.ttf');
    font-family:'Lovebird' ;
    src: url('../fuentes/Lovebird.ttf');
}

body {  
    background-color: #f0653b;
    padding: 1% 1%;
}
        #fondoimg {
            width: 90%;
            height: 10%;
            margin: 1px 1px;
            padding: 5%;
            background-image: url('../imagenes/wallpaper2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            
            position: relative;
        }

        #container {
            border-radius: 40px;
            width: auto;
            max-width: 260px;
            padding: 1% 5% 1% 1%;
            margin: 1% 1%;
            background-color: rgba(255, 115, 0, 0.479);
        }

        h1 {
            color: rgb(247, 9, 9);
            text-align: center;
            top:100px;
            left:200px;
            font-family:'Lovebird';
            font-size:3em;
            letter-spacing:4px;
            text-shadow: 2px 2px black;
        }

        p {
            color:white;
            font-size: 1em;
            text-align: left;
            font-family:'Queental-Regular';
        }

        h3 {
            color: oldlace;
            text-align: right;
            text-shadow: 2px 2px black;
        }